* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(80, 84, 196);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0b0808;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #109e15;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #55d95c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.1);
    cursor: grab;
}

li:active {
    cursor: grabbing;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

button.edit-btn, button.delete-btn {
    padding: 5px 10px;
    background-color: #2e7086;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.delete-btn {
    background-color: #98120d;
}

button.delete-btn:hover, button.edit-btn:hover {
    opacity: 0.9;
}
